.codeSnippet :global .shiki {
  padding: 2em;
  border-radius: 1em;
  overflow-x: scroll;
}

.codeSnippet :global .shiki table {
  min-width: 100%;
}

.codeSnippet :global .shiki code {
  display: inline-block;
  min-width: 100%;
}

.codeSnippet :global .shiki code .line .lineTokens {
  width: 100%;
}

.codeSnippet :global .shiki code .highlightedLine .lineTokens {
  background-color: rgba(174, 123, 20, 0.15);
  box-shadow: inset 4px 0 0 rgba(174, 123, 20, 0.4);
}

.codeSnippet :global .shiki code .line .lineTokens {
  padding-left: 1em;
}

.codeSnippet :global .shiki code .line .lineNumber {
  width: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
