// TODO: move this into the Header component.
@import "@primer/css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* See https://stackoverflow.com/questions/924916/is-there-a-way-to-make-a-div-unselectable. */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.focusLine tr.focusLine,
.focusLine tr.focusLine:hover,
.codetable tr:hover {
  /* This is the GitHub line focus color. `ivory` and `wheat` are also good options. */
  // background-color: #fffbdd;
  background-color: ivory;
}
/* Order here is important! If we have a line focused, then turn off the hover nonsense. */
.focusLine tr:hover {
  background-color: unset;
}

.focusLine tr.focusLine,
.focusLine tr.focusLine:hover {
  background-color: #fffbdd;
}

.noFocusLine .ThreadPopover-outer.hoverLine,
.ThreadPopover-outer.focusLine {
  left: 25px;

  .ThreadPopover {
    z-index: 1000000;
  }
}

.focusLine {
  .ThreadPopover-outer {
    opacity: 0.5;
    filter: blur(5px);
  }
  .ThreadPopover-outer.focusLine {
    opacity: 1;
    filter: none;
  }
}
